*.o
*.lo
*.la
*.in
.deps
.libs
Makefile
config.*
aclocal.m4
autom4te.cache/
compile
configure
depcomp
esskyuehl.dox
esskyuehl.pc
install-sh
libtool
ltmain.sh
m4/l*
missing
stamp-h1
basic_pool
basic_query
esskyuehl-*.gz
esskyuehl-*.bz2
test.db
test_sqlite
ar-lib
INSTALL
.dirstamp
